body {
	margin: 0 auto;
	background-color:rgb(240,240,240); 
	font-family: '微软雅黑';
}
#header{
	margin: 0 auto;
	width: 1000px;
	height: 90px;
}
#sysTitle{
	float: left;
	width: 300px;
	line-height: 90px;
	height: 90px;
	font-size: 25px;
}

#userManage{
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	float: right;
	width: 165px;
	height: 30px;
	margin-top: 40px;
	text-align: center;
	background-color: rgb(241,241,241);
	line-height: 30px;
	border-radius: 5px;
	border: 1px solid rgb(180,180,180);
	box-shadow: 0px 0px 20px 3px rgb(220,220,220);
}
#container{
	margin: 0 auto;
	width: 1000px;
	height: 820px;
	border: 1px solid rgb(180,180,180);
	border-radius: 5px;
	background-color: rgb(212,214,216);
	box-shadow: 0px 0px 20px 3px rgb(220,220,220);
}
.courseData{
	height: 40px;
}
.operationSelect{
	width: 50px;
	line-height: 25px;
	border-radius: 5px;
	height: 25px;
	background-color: rgb(167,204,242);
	cursor: pointer;
	margin-left: 15px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.operationSelect:hover{
	background-color: rgb(50,118,177);
}
#container_header{
	width: 100%;
	height: 80px;
	background-color: rgb(230,230,230);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid rgb(180,180,180);
}
#container_left{
	width: 900px;
	height: 700px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 5px;
	float: left;
	box-shadow: 0px 0px 5px 3px rgb(180,180,180);
}
#cl_header{
	width: 100%;
	height: 50px;
	background-color: rgb(222,224,230);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	line-height: 50px;
}
#searcheCourse{
	border:none;
	border:1px solid rgb(180,180,180);
	width: 200px;
	height: 25px;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 18px;
}
#cl_content{
	width: 100%;
	height: 600px;
	background-color: white;
}
#courseTable {
	text-align: center;
	border: 1px solid rgb(180,180,180);
	border-collapse: collapse;
}
#courseTable th {
	border: 1px solid rgb(180,180,180);
}
#courseTable td {
	border: 1px solid rgb(180,180,180);
}

#courseName{
	background-color: rgb(236,237,241);
	width: 150px;
	height:40px;
	line-height: 40px;
}
#courseTeacher{
	width: 100px;
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;
}
#courseTime{
	width: 80px;
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;
}
#selectTime{
	width: 100px;
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;	
}
#courseRoom{
	width: 130px;
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;
}
#courseCredit{
	width: 50px;
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;
}
#courseType{
	width: 120px;
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;
}
#permitNum{
	width: 80px;
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;
}
#haveNum{
	width: 80px;
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;
}
#score{
	width: 80px;
	background-color: rgb(236,237,241);
}
#courseTime{
	width: 150px;
	background-color: rgb(236,237,241);
	height: 40px;
	line-height: 40px;
}
#operation{
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;
	width: 85px;
}

#cl_footer{
	border-top: 1px solid rgb(180,180,180);
	width: 100%;
	height: 50px;
	background-color: rgb(222,224,230);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#prevPage{
	margin-top: 10px;
	float: left;
	margin-left: 20px;
	cursor: pointer;
	text-decoration: underline;
}
#nextPage{
	text-decoration: underline;
	cursor: pointer;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}
#pageNum{
	margin-left: 20px;
	margin-top: 10px;
	float: left;
}
#currentPage{
	font-size: 14px;
	color: red;
}
#container_right{
	float: left;
	width: 205px;
	height: 350px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius:5px;
	box-shadow: 0px 0px 5px 3px rgb(180,180,180);
}
#cr_header{
	width: 100%;
	height: 50px;
	background-color: rgb(222,224,230);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	line-height: 50px;
}

#footer{
	width: 100%;
	height: 200px;
	margin: 0 auto;
}
#hintBox{
	display: none;
	background-color: rgb(180,180,180);
	position: fixed;
	width: 500px;
	height: 300px;
	border: 1px solid rgb(180,180,180);
	border-radius: 5px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -150px;
}
#hint_title{
	height: 40px;
	line-height: 40px;
	width: 100%;
	margin-left: 10px;
}
.hint_line{
	border-top: 1px solid rgb(222,222,222);
	width: 98%;
	margin: 0 auto;
}
#hint_content{
	height: 200px;
	margin-left: 10px;
	width: 100%;
}
#hint_contentBox{
	font-size: 20px;
	padding-top: 50px;
	width: 100%; 
	text-align: center;
}
#hint_ensure{
	float: left;
	background-color: rgb(167,204,242);
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 100px;
	margin-top: 15px;
}
#hint_ensure:hover{
	background-color: rgb(50,118,177);
}
#hint_quit:hover{
	background-color: red;
}
#hint_quit{
	cursor: pointer;
	background-color: rgb(251,105,49);
	border-radius: 5px;
	margin-top: 15px;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-left: 100px;
	float: left;
}
	

#nav_selectCourse{
	float: left;
	width: 80px;
	height: 60px;
	background-color: rgb(222,224,230);
	border-radius: 5px;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	margin-left: 15px;
	margin-top: 10px;
	box-shadow: 0px 0px 10px 3px rgb(200,200,200);
	cursor: pointer;
}
#nav_getScore{
	box-shadow: 0px 0px 10px 3px rgb(200,200,200);
	cursor: pointer;
	float: left;
	width: 80px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	margin-left: 15px;
	margin-top: 10px;
	background-color: rgb(222,224,230);
	border-radius: 5px;	
}
#nav_comment{
	cursor: pointer;
	float: left;
	width: 80px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	margin-left: 15px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: rgb(222,224,230);
	box-shadow: 0px 0px 10px 3px rgb(200,200,200);

}
.btn{
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}