body {
	margin: 0 auto;
	background-color:rgb(240,240,240); 
	font-family: '微软雅黑';
}

#loginBox{
	width: 500px;
	height: 300px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -150px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 30px 10px rgb(180,180,180);
}
#loginBoxTitle{
	color: rgb(12,160,229);
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 25px;
}

#userName{
	width: 400px;
	margin-top: 10px;
	height: 40px;
	float: left;
	border: none;
	margin-left: 50px;
	border: 1px solid rgb(180,180,180);
	box-shadow: 0px 0px 30px 2px rgb(180,180,180);
	border-radius: 5px;
	font-size: 20px;
}
#password{
	width: 400px;
	height: 40px;
	float: left;
	border: none;
	margin-left: 50px;
	border: 1px solid rgb(180,180,180);
	box-shadow: 0px 0px 30px 2px rgb(180,180,180);
	border-radius: 5px;
	font-size: 20px;
	margin-top: 50px;
}

#btn_ensure{
	position: absolute;
	cursor: pointer;
	border-radius: 5px;
	color: rgb(220,220,220);
	font-size: 22px;
	width: 400px;
	line-height: 40px;
	height: 40px;
	text-align: center;
	background-color: rgb(66,139,202);
	top: 230px;
	left: 50px;
}
#btn_ensure:hover{
	background-color: rgb(50,118,177);
}
#sysTitle{
	width: 100;
	font-size: 35px;
	text-align: center;
	margin-top: 100px;
}

#sysHint{
	margin-right: 50px;
	float: right;
	margin-top: 5px;
	color: red;
	top: 210px;
	left: 370px;
}
