body {
	margin: 0 auto;
	background-color:rgb(240,240,240); 
	font-family: '微软雅黑';
}
#studentListBox{
	display: none;
	position: fixed;
	margin-left: -400px;
	margin-top: -250px;
	width: 800px;
	left: 50%;
	top: 50%;
	border-radius: 5px;
	height: 500px;
	background-color: white;
	border:1px solid rgb(180,180,180);
	box-shadow: 0px 0px 10px 5px rgb(100,100,100);	
}
#studentList_title{
	margin: 0 auto;
	line-height: 50px;
	padding-left: 10px;
	width: 98%;
	height: 50px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom: 1px solid rgb(100,100,100);	
}

#feedbackBox{
	display: none;
	width: 600px;
	height: 350px;
	padding-top: 20px;
	margin-left: -300px;
	margin-top: -175px;
	position: fixed;
	left: 50%;
	border-radius: 5px;
	top: 50%;
	background: white;
	box-shadow: 0px 0px 10px 5px rgb(100,100,100);	
	border:1px solid rgb(180,180,180);
}
#feedback_ensure{
	cursor: pointer;
	background-color: rgb(50,118,177);
	width: 70px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	float: left;
	margin-left: 65%;
	margin-top: 12px;
	border-radius: 5px;
}
#feedback_close{
	cursor: pointer;
	margin-top: 12px;
	margin-left: 35px;
	border-radius: 5px;
	background-color: rgb(50,118,177);
	width: 70px;
	height: 35px;
	line-height: 35px;
	float: left;
	text-align: center;
}
#feedback_phone{
	border: none;
	border:1px solid rgb(180,180,180);
	border-radius: 5px;
	height: 40px;
	font-size: 20px;
	margin-left: 20px;
	width: 80%;
}

#feebackContent textarea{
	width: 90%;
	margin-left: 20px;
	margin-top: 20px;
	height: 220px;
	border-radius: 5px;
	font-size: 20px;
}
#userManageSelect{
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	width: 165px;
	min-height: 60px;
	margin-top: 5px;
	text-align: center;
	background-color: rgb(241,241,241);
	border-radius: 5px;
	border: 1px solid rgb(180,180,180);
	box-shadow: 0px 0px 20px 3px rgb(220,220,220);
	display: none;
}
#feedback{
	cursor: pointer;	
}
#feedback:hover{
	background-color: rgb(167,204,242);
}
#logout{
	cursor: pointer;
}
#logout:hover{
	background-color: rgb(167,204,242);
}
#commentBox{
	display: none;
	width: 700px;
	height: 550px;
	padding-top: 20px;
	margin-left: -350px;
	margin-top: -275px;
	position: fixed;
	left: 50%;
	border-radius: 5px;
	top: 50%;
	background: white;
	box-shadow: 0px 0px 10px 5px rgb(100,100,100);	
	border:1px solid rgb(180,180,180);
}
.commentName{
	font-size: 20px;
}
.commentTime{
	margin-left: 10px;
	opacity: 0.6;
}
.comment_ele{
	margin-top: 5px;
	margin-left: 5%;
	width: 90%;
	min-height: 70px;
	border-bottom: 1px solid rgb(180,180,180)
}
.commentContent{
	margin-left: 5px;
	margin-top: 5px;
}
#commentList{
	overflow-y:auto;
	width: 100%;
	height: 390px;
}
#commentSend textarea{
	width: 610px;
	margin-left:5%;
	height: 100px;
	font-size: 20px;
}
#commentSend_ensure{
	cursor: pointer;
	background-color: rgb(50,118,177);
	width: 70px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	float: left;
	margin-left: 70%;
	margin-top: 9px;
	border-radius: 5px;
}
#commentSend_close{
	cursor: pointer;
	margin-top: 9px;
	margin-left: 20px;
	border-radius: 5px;
	background-color: rgb(50,118,177);
	width: 70px;
	height: 35px;
	line-height: 35px;
	float: left;
	text-align: center;
}
#addCourseBox{
	position: fixed;
	width: 800px;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	box-shadow: 0px 0px 10px 5px rgb(100,100,100);
	margin-top: -300px;
	height: 600px;
	background-color: rgb(214,214,214);
	border-radius: 10px;
}
#addCourseBox{
	display: none;
}
#addCourseBox_title{
	margin: 0 auto;
	line-height: 50px;
	padding-left: 10px;
	width: 98%;
	height: 50px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom: 1px solid rgb(100,100,100);
}
#addCourseBox_content{
	border-bottom: 1px solid rgb(100,100,100);
	width: 100%;
	height: 500px;
}
#addCourseBox_operation{
	width: 100%;
	height: 50px;
}
#addCourseBox_ensure{
	width: 60px;
	height: 30px;
	background-color: rgb(50,118,177);
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
#addCourseBox_close:hover{
	background: red;
}
#addCourseBox_ensure:hover{
	background: rgb(122,178,233);
}
#addCourseBox_close{
	cursor: pointer;
	border-radius: 5px;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
	margin-right: 20px;
	float: right;
	width: 60px;
	height: 30px;
	background-color: rgb(50,118,177);
}
#addCourseBox_courseName input{
	width: 450px;
}
#addCourseBox_courseText{
	margin-top: 20px;
	clear: both;
}
#addCourseBox_courseText_title{
	margin-left: 20px;
	padding-top: 20px;
	margin-top: 20px;
}
#addCourseBox_courseText textarea{
	margin-left: 20px;
	margin-top: 10px;
	width: 710px;
	height: 230px;
	background-color: rgb(214,214,214);
	font-size: 20px;
}
.addCourseBox_input{
	border:none;
	text-align: center;
	font-size: 25px;
	background-color: rgb(214,214,214);
	border-bottom: 1px solid rgb(100,100,100);
	border-bottom-left-radius:3px;
	border-bottom-right-radius: 3px;
	margin-left: 30px;
	width: 250px
}
#addCourseBox_courseRoom{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
#addCourseBox_courseType{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
#addCourseBox_courseType span{
	float: left;
}
#ct_right_top{
	display: none;
	margin-left: 20px;
	background-color: rgb(50,118,177);
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	cursor: pointer;
}
#ct_right_bottom{
	display: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
	background-color: rgb(50,118,177);
	float: left;
	text-align: center;
	cursor: pointer;
}
#ct_left{
	float: left;
	margin-left: 20px;
	cursor: pointer;
	width: 120px;
	text-align: center;
	background-color: rgb(180,180,180);
}
#addCourseBox_permitNum{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
#addCourseBox_credit{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
#addCourseBox_courseName{
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}
#addCourseBox_courseTime{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
#header{
	margin: 0 auto;
	width: 1000px;
	height: 90px;
}
#sysTitle{
	float: left;
	width: 300px;
	line-height: 90px;
	height: 90px;
	font-size: 25px;
}

#userManage{
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	float: right;
	width: 165px;
	height: 30px;
	margin-top: 40px;
	text-align: center;
	background-color: rgb(241,241,241);
	line-height: 30px;
	border-radius: 5px;
	border: 1px solid rgb(180,180,180);
	box-shadow: 0px 0px 20px 3px rgb(220,220,220);
}
#container{
	margin: 0 auto;
	width: 1000px;
	height: 820px;
	border: 1px solid rgb(180,180,180);
	border-radius: 5px;
	background-color: rgb(212,214,216);
	box-shadow: 0px 0px 20px 3px rgb(220,220,220);
}
.courseData{
	height: 40px;
}
.operationSelect{
	width: 50px;
	line-height: 25px;
	border-radius: 5px;
	height: 25px;
	background-color: rgb(167,204,242);
	cursor: pointer;
	margin-left: 15px;
	float: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.operationSelect:hover{
	background-color: rgb(50,118,177);
}
#container_header{
	width: 100%;
	height: 80px;
	background-color: rgb(230,230,230);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid rgb(180,180,180);
}
#container_left{
	width: 970px;
	height: 700px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 5px;
	float: left;
	box-shadow: 0px 0px 5px 3px rgb(180,180,180);
}
#cl_header{
	width: 100%;
	height: 70px;
	background-color: rgb(222,224,230);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	line-height: 50px;
}
#addCourse{
	clear: both;
	cursor: pointer;
	float: left;
	margin-left: 20px;
	width: 100px;
	text-align: center;
	border-radius: 5px;
	color: rgb(230,230,230);
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	background-color: rgb(50,118,177);
}
#searcheCourse{
	border:none;
	border:1px solid rgb(180,180,180);
	width: 200px;
	height: 25px;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 18px;
	float: left;
}
#searchEnsure{	
	cursor: pointer;
	float: left;
	margin-left: 30px;
	width: 60px;
	text-align: center;
	border-radius: 5px;
	color: rgb(230,230,230);
	height: 27px;
	line-height: 25px;
	margin-top: 20px;
	background-color: rgb(50,118,177);
}
#cl_content{
	width: 100%;
	height: 580px;
	background-color: white;
}
#courseTable {
	text-align: center;
	border: 1px solid rgb(180,180,180);
	border-collapse: collapse;
}
#courseTable th {
	border: 1px solid rgb(180,180,180);
}
#courseTable td {
	border: 1px solid rgb(180,180,180);
}

#courseName{
	background-color: rgb(236,237,241);
	width: 1000px;
	height:40px;
	line-height: 40px;
}
.stu{
	width: 1000px;
	border:1px solid black;
}
.courseName{
	cursor: pointer;
}
#courseTeacher{
	width: 80px;
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;
}
#courseTime{
	width: 80px;
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;
}

#courseCredit{
	width: 50px;
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;
}
#courseType{
	width: 120px;
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;
}
#courseRoom{
	width: 155px;
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;	
}
#permitNum{
	width: 80px;
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;
}
#haveNum{
	width: 80px;
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;
}
#operation{
	background-color: rgb(236,237,241);
	height:40px;
	line-height: 40px;
	width: 150px;
}

#cl_footer{
	border-top: 1px solid rgb(180,180,180);
	width: 100%;
	height: 50px;
	background-color: rgb(222,224,230);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#prevPage{
	margin-top: 10px;
	float: left;
	margin-left: 20px;
	cursor: pointer;
	text-decoration: underline;
}
#nextPage{
	text-decoration: underline;
	cursor: pointer;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}
#pageNum{
	margin-left: 20px;
	margin-top: 10px;
	float: left;
}
#currentPage{
	font-size: 14px;
	color: red;
}
#container_right{
	float: left;
	width: 205px;
	height: 350px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius:5px;
	box-shadow: 0px 0px 5px 3px rgb(180,180,180);
}
#cr_header{
	width: 100%;
	height: 50px;
	background-color: rgb(222,224,230);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	line-height: 50px;
}
#cr_content{
	width: 100%;
	height: 300px;
	background-color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.haveSelectCourse{
	min-width: 20px;
	min-height: 25px;
	padding-top: 15px;
}
.haveSelectCourse span{
	float: left;
	margin-left: 3px;
}
.haveSelectCourse img{
	cursor: pointer;
	float: right;
	width: 26px;
	height: 26px;
	margin-right: 3px;
}
.haveCourse{
	min-width: 20px;
	min-height: 25px;
	padding-top: 15px;
}
.haveCourse span{
	float: left;
	margin-left: 3px;
}
.haveCourse img{
	cursor: pointer;
	float: right;
	width: 26px;
	height: 26px;
	margin-right: 3px;
}
#cr_content_top{
	width: 100%;
	height: 255px;
}
#cr_content_ensure{
	background-color: rgb(50,118,177);
	width: 100px;
	height:30px;
	margin-left: 50px;
	border-radius: 5px;
	color: rgb(220,220,220);
	cursor: pointer;
	line-height: 30px;
	text-align: center;	
}
#cr_content_ensure:hover{
	color: white;	
}
#footer{
	width: 100%;
	height: 200px;
	margin: 0 auto;
}
#hintBox{
	display: none;
	background-color: rgb(180,180,180);
	position: fixed;
	width: 500px;
	height: 300px;
	border: 1px solid rgb(180,180,180);
	border-radius: 5px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -150px;
}
#hint_title{
	height: 40px;
	line-height: 40px;
	width: 100%;
	margin-left: 10px;
}
.hint_line{
	border-top: 1px solid rgb(222,222,222);
	width: 98%;
	margin: 0 auto;
}
#hint_content{
	height: 200px;
	margin-left: 10px;
	width: 100%;
}
#hint_contentBox{
	font-size: 20px;
	padding-top: 50px;
	width: 100%; 
	text-align: center;
}
#hint_ensure{
	float: left;
	background-color: rgb(167,204,242);
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 100px;
	margin-top: 15px;
}
#hint_ensure:hover{
	background-color: rgb(50,118,177);
}
#hint_quit:hover{
	background-color: red;
}
#hint_quit{
	cursor: pointer;
	background-color: rgb(251,105,49);
	border-radius: 5px;
	margin-top: 15px;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-left: 100px;
	float: left;
}

#container_right_bottom{
	float: left;
	width: 205px;
	height: 335px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius:5px;
	box-shadow: 0px 0px 5px 3px rgb(180,180,180);
}
#crb_header{
	width: 100%;
	height: 50px;
	background-color: rgb(222,224,230);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	line-height: 50px;
}
#crb_content{
	width: 100%;
	height: 285px;
	background-color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.haveSureSelectCourse{
	min-width: 20px;
	min-height: 25px;
	padding-top: 15px;
}
.haveSureSelectCourse span{
	float: left;
	margin-left: 3px;
}
.haveSureSelectCourse img{
	cursor: pointer;
	float: right;
	width: 26px;
	height: 26px;
	margin-right: 3px;
}

#nav_courseList_teacher{
	float: left;
	width: 80px;
	height: 60px;
	background-color: rgb(222,224,230);
	border-radius: 5px;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	margin-left: 15px;
	margin-top: 10px;
	box-shadow: 0px 0px 10px 3px rgb(200,200,200);
	
	cursor: pointer;
}
#nav_studentList_teacher{
	box-shadow: 0px 0px 10px 3px rgb(96,159,233);
	cursor: pointer;
	float: left;
	width: 80px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	margin-left: 15px;
	margin-top: 10px;
	background-color: rgb(222,224,230);
	border-radius: 5px;	
}
#nav_comment{
	cursor: pointer;
	float: left;
	width: 80px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 18px;
	margin-left: 15px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: rgb(222,224,230);
	box-shadow: 0px 0px 10px 3px rgb(200,200,200);

}
.btn{
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}